    * {
        /*background: rgba(0,0,0, .1);*/
        box-sizing: border-box;
        transition: background .2s;
        outline : 0;
    }


    body {
        background: #FFCCCC;
        /*color:*/
    }

    .container {
        max-width:900px;
        margin: 0 auto;
        position: relative;
        padding: 0 10px;
    }
    
    h1
    {
        text-align: center;
    }

    .task-list
    {
        margin: 5px 0;
    }

    input,
    .task-item,
    button,
    .task-detail-mask,
    textarea,
    .task-detail
    {
        padding:  10px;
        border-radius: 4px;
    }

    textarea {
        width:100%;
        min-height:100px;
        background: #eeeeee;
    }


    input[type=text], input[type=date]
    {
        border: 0;
        display: block;
        width: 100%;
        background:#eeeeee;
    }

    button
    {
        display: inline-block;
        border: 0;
        background: #FFFFCC;
        cursor: pointer;
    }

    .add-task input[type=text]
    {
        float: left;
        width: 89%;
        margin-right: 1%;
    }

    [type=submit] {
        background:#FFFFCC;
    }

    .add-task [type=submit] {
        width: 10%;
    }


    .task-item
    {
        padding:10px;
        background: #FFFFCC;
        color: #333;
        margin-bottom: 4px;
    }

    .task-item, .add-task input[type=text]
    {
        box-shadow: 0 3px 5px rgba(0,0,0 .5);
    }
    
    .task-item:hover
    {
        background: #ddd;
    }
    
    input[type=text]:hover,
    input[type=date]:hover,
    input[type=text]:focus,
    input[type=date]:focus,
    textarea:hover,
    textarea:focus{
        background: #ffffff;
    }

    .task-detail, .task-detail-mask {
        position:absolute;
        display: none;
    }

    .task-detail
    {
        background: #fff;
        padding: 10px;
        width: 50%;
        height: 100%;
        bottom: 0;
        right: 0;
        box-shadow:  0 1px 2px rgba(0,0,0, 0.1);
    }

    .task-detail .content {
        padding: 10px;
        font-weight: 900;
        cursor: pointer;
    }

    .task-detail .input-item {
        margin-bottom: 10px;
    }

    .task-detail-mask
    {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: rgba(0,0,0, .2);
    }

    .action {
        color: #888;
        font-size: 90%;
    }

    .action:hover {
        color: #333;
    }

    .float-right {
        float: right;
    }

    .task-content {
        margin-left: 10px;
    }

    .inpu